@import "config";

.chart{
    display:flex;

    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    width:100%;
    padding: $gutter1;

    &__box{
        display:flex;
        align-items: center;
        
        flex-wrap:wrap;
        width:100%;
        max-width: 1200px;
        
    }

    &__title{
        font-family: $oswald;
        font-size: 2.25rem;
    }
    &__container{
        display:flex;
        flex-wrap:wrap;
        
    }

    &__heading{
        align-self: flex-start;
    }
    &__card{
        width:100%;
       padding: 1em;
       display:flex;
       flex-direction: column;

       &:nth-of-type(1),&:nth-of-type(2){
           @media(min-width:800px){
               flex-direction: row;
               align-items: center;
               justify-content: center;
           }
       }
        &:nth-of-type(3),&:nth-of-type(4){
            @media(min-width:800px){
            width: 40vw;

            @media(min-width:1200px){
                width:575px;
            }
            }
        }
    }

    &__text{
        font-size: 1.125rem;
        padding-bottom: $gutter1;
        padding-top:$gutter1;
    }

    &__img{
        width:100%;   

        @media(min-width: 800px){
            width:45%;
        }
    }
    &__notpic{
        @media(min-width: 800px){
            width:30%;
        }
    }

    &__price{
        font-size:1.5rem;
        padding-left:$gutter1;
        padding-bottom: $gutter1;
        font-family: $oswald;
    }

    &__button{
        width:35%;
        background-image: url("img/chart.svg");
        background-repeat: no-repeat;
        background-position: -5px 50%;
        background-size: 20px;
        padding-left: 20px;
        border: 1px solid $svartur;
        display:flex;

        &:hover{
            background-color:$ljosblar;
        }
    }
    &__textinput0{
        width:25%;
    }
    &__form{
        width:100%;
        display:flex;
        justify-content: space-between;
        height:2.25rem;

    }

    &__form2{
        display:flex;
        justify-content: space-between;
        flex-wrap:wrap;
    }
    &__row{
        width:100%;
        display:flex;
        flex-wrap:wrap;
        justify-content: space-between;
        padding-bottom: 0.6rem;
        padding-top:0.6rem;
        height:3.5rem;
    }
    &__textinput{
        width:60%;
        border-radius: 5px;
    }
    &__textinput2{
        width:16%;
        border-radius:5px;
    }
    &__label{
        width:35%;
        font-size:1.5rem;
    }
    &__label2{
        width:15%;
        font-size:1.5rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
    &__box2{
        width:100%;
        display:flex;
        justify-content: center;
        align-items: center;
        padding:$gutter1;
    }
    &__button2{
        width:50%;
        height:3em;
        background-color: $ljosblar;
      
       &:hover{
           background-color: $appelsinugulur;
       }
       @media(min-width: 800px){
           width:33%;
       }
       @media(min-width: 1200px){
           width:250px;
       }



    }





    
}