
.Container-forsíða{
    display:flex;
    flex-wrap:wrap;

    .item-forsíða{
        width: 25%;

        .img{
            image-resolution: auto;
            width:25%;
            
        }
    
    }
}