
.Navbar{
    width: 100%;
    background-color: orange;
    height: 25vh;
   display:flex;
   flex-wrap:wrap;
   align-items: center;

    .titill{
        font-size: 36px;
        text-align: center;
        padding-bottom: 30px;
        width:100%;
    }
    

    .linkar{
        display:flex;
       align-content: space-around;
        list-style-type: none;
        text-transform: uppercase;
        
    }
    .linkur{
        padding-left: 1em;
        padding-right: 1em;
        color:black;

      
    }

    .linkur:hover{
        color: white;
    }

    .karfa{
        margin: 0;
        padding: 36px 0 36px 84px;
        list-style: none;
        background-image: url("/img/chart.svg");
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 30px;
    }

}