.section{
    display:flex;
    flex-wrap: wrap;



  

    &__col{
      
       width:90%;
       margin:auto;

        @media (min-width: 800px){
            width:45%;
        
        }
        
        
    
    }
    &__content{
        overflow:hidden;
        padding-bottom:1.5em;
        padding-top:1.5em;
       

    }

    &__button{
        width:50%;
        height:3em;
        background-color: lightskyblue;
       
    }
    &__img{
        width:100%

    }

    &__title{
        font-size:3em;
        text-align: left;
        padding-top:0.7em;
        padding-bottom: 0.7em;
    }

    &__text{
        font-size:1.5em;
        padding-bottom: 0.7em;
    }
    &__link{
        color:black;
        text-decoration: none;
    }

}